.top{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999999;
    pointer-events: none;
}
.top > *{
    pointer-events: all;
}

.bottom{
    position: absolute;
    width: 100%;
    height: fit-content;
    bottom: 0;
}