*{
    margin: 0;
    padding: 0;
}


body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3a5961;
    -webkit-user-select: none;
    user-select: none;
}

.leaflet-overlay-pane{
    opacity: 0.5;
}

/*
* 瓦片图层开启专属背景色
*/
.leaflet-container:has(.leaflet-map-pane>.leaflet-pane>.leaflet-tile-pane>.leaflet-layer){
    background-color: #0F1D2A;
}